
<div class="jumbotron">
	<h1>
	<%= image_tag('logo-flash.png', :class => "pull-right", :width => '150px', :style => "margin-right:50px;") %>
		Welcome to Phunder App

		<br/>
		<small>A simple web app for fundraising.</small>
	</h1>
	<div class="row clearfix" >
	<div class="col-md-6" >
		<%= render "fundraisers" %>
	</div>
	<div class="col-md-6">
		<%= render "donors" %>
		
	</div>
	</div>	
</div>

<div class="col-md-12">
	<ul class="nav nav-pills" role="tablist">
		  <!-- <li class="active"><a href="#campaigns" role="tab" data-toggle="tab">All Campaigns</a></li> -->
		  <!-- <li><a href="#photos" role="tab" data-toggle="tab">Photos</a></li> -->
	</ul>
</div>
<!-- Tab panes -->
<div class="tab-content col-md-12">
  <div class="tab-pane active" id="campaigns">
			<div class="">
				<% @campaigns.reverse.each do |campaign| %>
					<div class="clearfix">
						<h2 class="col-md-12">
							<%= link_to campaign.name.split.map(&:capitalize).join(' '), campaign %>
							<small>by <%= campaign.user.name %>
							
							<label class="label label-info pull-right" ><%= campaign.percent %>%</label>
							<label class="label label-success pull-right" >$<%= campaign.target %></label>
							<br/>
							<span class="pull-right">#<%= campaign.hashtag %></span>
							
							</small>
							<hr/>
						</h2>
						<div class="col-md-4">

						<%= link_to cl_image_tag(campaign.image.url(:square).split("/").last,  :transformation=>[
					        {:width=>400, :crop=>:scale},
					        {:opacity=>60, :overlay=>"lightning-logo_black", :crop=>:scale, :gravity=>:north_west, :flags=>:relative, :x=>5, :y=>5,},
					        {:color=>"#191919", :overlay=>"text:Helvetica_20_bold:@phunderapp", :x=>10, :y=>5, :gravity=>:south_west},
					        {:opacity=>90, :overlay=> campaign.water_mark.url(:water_mark).split("/").last, :crop=>:scale, :gravity=>:north_east, :flags=>:relative, :x=>5, :y=>5, :size => "50"},
					        {:color=>"#191919", :overlay=>"text:Helvetica_20_bold:%23#{campaign.hashtag}", :x=>10, :y=>5, :gravity=>:south_east}
					        ], :class=>"pull-left thumbnail img-rounded", :width => "360px" ), campaign %>

						</div>
						<div class="col-md-8">
						<p class="well">
						<%= truncate(campaign.description, :length => 200) %>
						</p>
						<ul class='clearfix' >
						    <% campaign.photos.where(:hidden => false).limit(6).each do |photo| %>
						      <%= link_to image_tag(photo.image.url(:thumb), :class => "pull-left thumbnail img-rounded", :style => "margin-right:10px; border: 2px, solid grey;"), photo %>
						    <% end %>
						 </ul>  
						 <%= button_to "Donate", campaign, :class => "btn btn-success btn-lg btn-block", :method => :get %>
						 
						</div>
					</div>
					<br/>
				<% end %>
			</div>
		</div>
		<div class="tab-pane" id="photos">
</div>


<style type="text/css">
	main .container {
		padding:0px;
	}
	.jumbotron {
		border-top-left-radius: 10px !important;
		border-top-right-radius: 10px !important;
	}

</style>