
<div class="jumbotron">
	<h1>
		Welcome to Phunder App
		<br/>
		<small>A simple web app for fundraising with photos!</small>
	</h1>

	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          1. Signup with your Facebook account
	        </a>
	      </h3>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse">
	      <div class="panel-body">
	        People like to know who you are, especially if you're fund raising!
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	          2. Connect your account with <a href="http://www.stripe.com" style="text-decoration:underline;" target="_blank">Stripe</a>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
	      <div class="panel-body">
	        Phunder works with Stripe - a simple service for processing payments online, you'll need to add your bank account details to your stripe account before building a campaign page.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	          3. Build your fun photo fundraising campaign!
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse">
	      <div class="panel-body">
	        Now your ready to start fundraising, tell people a little about the campaign, who it's in aid of and and maybe use an example image.
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div class="col-md-12">
	<ul class="nav nav-pills" role="tablist">
		  <li class="active"><a href="#campaigns" role="tab" data-toggle="tab">All Campaigns</a></li>
		  <!-- <li><a href="#photos" role="tab" data-toggle="tab">Photos</a></li> -->
	</ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="campaigns">
			<div class="">
				<% @campaigns.reverse.each do |campaign| %>
					<div class="clearfix">
						<h2 class="col-md-12">
							<%= link_to campaign.name.split.map(&:capitalize).join(' '), campaign %>
							<small>by <%= campaign.user.name %></small>
							<hr/>
						</h2>
						<div class="col-md-4">
						<%= link_to image_tag(campaign.image.url(:square), :class => "pull-left img-rounded"), campaign %>
						</div>
						<div class="col-md-8 ">
						<p class="well">
						<%= truncate(campaign.description, :length => 200) %>
						</p>
						<ul class='clearfix' >
						    <% campaign.photos.each do |photo| %>
						      <%= link_to image_tag(photo.image.url(:thumb), :class => "pull-left img-rounded", :style => "margin-right:10px; border: 2px, solid grey;"), photo %>
						    <% end %>
						 </ul>  
						 
						</div>
					</div>
					<br/>
				<% end %>
			</div>
		</div>
		<div class="tab-pane" id="photos">
</div>
