<div class="well form-inline" %>
  <%= simple_form_for(@photo,  :class => "form" ) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs form-group">

      <%= f.input :title %>
      <br/>
      <%= f.label :hidden %>
      <%= f.check_box :hidden %>
      <br/>
      <%= f.input :url %>
      
    </div>
    <hr/>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

</div>