

<h1>
	<%= @photo.title %>
	<small>
		<% if @photo.user %>by <%= @photo.user.name %><% end %>
		<span class="pull-right label label-success">
			<%= @photo.paid %>
		</span>
	</small>
</h1>
<br/>
<%= render_shareable :turbolinks => true, :buttons => ['twitter', 'facebook', 'tumblr'], :facebook=> {:send=> 'true', :url=> '#{photo_path(@photo)}'}, :twitter => {:via => 'phunderapp', :text  => 'New Photo: #{@photo.title} for campaign - ' }  %>
<hr/>


<%= image_tag(@photo.image.url()) %>

<h2>
<% if @photo.user != nil %>
by <%= @photo.user.name %>
<% end %>
<small>
for <%= link_to @photo.campaign.name, @photo.campaign  %>
</small>
</h2>

<style type="text/css">
  body {
    background-image: url(<%= @photo.campaign.banner.url %>);
    background-size: cover;
  }

</style>