

<h1><%= @photo.title %></h1>

<hr/>


<%= image_tag(@photo.image.url()) %>

<h2>
<% if @photo.user != nil %>
by <%= @photo.user.name %>
<% end %>
<small>
for <%= link_to @photo.campaign.name, @photo.campaign  %>
</small>
</h2>

<style type="text/css">
  body {
    background-image: url(<%= @photo.campaign.banner.url %>);
    background-size: cover;
  }

</style>