<div class="well form-inline" %>
  <%= simple_form_for(@campaign,  :class => "form" ) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs form-group">
      <%= f.input :name, :cols => "100" %>
      <p class="help-block">Choose a catchy title for your campaign.</p>
      <br/>
      <%= f.label :description, "About" %>
      <br/>
      <%= f.text_area :description, :cols => "100", :rows => "20" %>
      <p class="help-block">Tell your donars about this campaign.</p>
      <%= f.input :user_id, as: :hidden %>
      <%= f.input :target %>
      <p class="help-block">Set a total campaign target.</p>
      <br/>
      <%= f.input :hashtag %>
      <p class="help-block">Set a #hashtag for the campaign.</p>
      <%= f.input :price %>
      <p class="help-block">Set a suggested ammount to give.</p>
      <br/>
      <%= f.label :image, "Image" %>
      <%= f.file_field :image %>
      <p class="help-block">The main image for the campaign, this could be an example for people to upload.</p>
      <br/>
      <%= f.label :banner, "Banner" %>
      <%= f.file_field :banner %>
      <p class="help-block">The background image for your campaign page.</p>
      <br/>
      <%= f.file_field :water_mark %>
      <p class="help-block">Upload a transparent png 50px X 50px</p>

      <% if current_user && current_user.admin? %>
        <hr/>
        <%= f.input :end_date %>
        <%= f.input :live %>
      <% end %>
    </div>
    <hr/>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

</div>