
<article style="">
  <h1>
    <%= @campaign.name.split.map(&:capitalize).join(' ') %>
    (#<%= @campaign.hashtag %>) 
      <span class="pull-right">
      <p class="label label-success">
        <strong>Target:
          $<%= @campaign.target %>
        </strong>
      </p>
      <p class="label label-info">
        <strong><%= @campaign.percent %>%</strong>
      </p>
      </span>
  <br/>
   <small>
  <% if @campaign.user.name != nil %>
    by <%= @campaign.user.name %>
    <% end %>
    </small>
  </h1>
  <hr/>
  <div class="clearfix row" >
  <div class="pull-right col-md-4">

  <p>

       <%= cl_image_tag(@campaign.image.url().split("/").last,  :transformation=>[
        {:width=>400, :crop=>:scale},
        {:opacity=>60, :overlay=>"lightning-logo_black", :crop=>:scale, :gravity=>:north_west, :flags=>:relative, :x=>5, :y=>5},
        {:color=>"#191919", :overlay=>"text:Helvetica_20_bold:@phunderapp", :x=>10, :y=>5, :gravity=>:south_west},
        # {:opacity=>60, :overlay=>"lightning-logo_black", :crop=>:scale, :gravity=>:south_east, :flags=>:relative, :x=>5, :y=>30,},
        {:color=>"#191919", :overlay=>"text:Helvetica_20_bold:%23#{@campaign.hashtag}", :x=>10, :y=>5, :gravity=>:south_east}
        ], :class=>"img-rounded thumbnail", :width => "360px") %>


  </p>
  <br/>
  <div class="panel panel-default">
    <div class="panel-heading">
           <h3>
              Share
            </h3>
        </div>
        <div class="panel-body">
        <%= render_shareable :turbolinks => true, :buttons => ['twitter', 'facebook', 'tumblr'], :facebook=> {:send=> 'true', :url=> '#{campaign_path(@campaign)}'}, :twitter => {:via => 'phunderapp', :text  => "Support the #{@campaign.name} campaign - ", :hashtags => @campaign.hashtag } %>
        </div>
    </div>
    <% if current_user && current_user.admin? || current_user == @campaign.user %>
      <%= link_to "Edit", edit_campaign_path(@campaign), :class => "btn btn-default btn-xs" %>    
      <%= link_to "Delete", campaign_path(@campaign), :method => "DELETE", confirm: "Are you sure?", :class => "btn btn-danger btn-xs" %>
    <% end %>
  </div>

  <div class="pull-left col-md-8">
    <p class="well clearfix">
    <%= auto_link(truncate(@campaign.description.gsub(/\n/, '<br/>').html_safe, length: 500)) %>
    <br/>
    </p>

    <div class="panel panel-info">
      <div class="panel-heading">
         <h3>
            Donate & Upload
            <span class="label label-info pull-right">
              Suggested Amount:
              $<%= @campaign.price %>
            </span>
          </h3>
      </div>
      <div class="panel-body">
      <%= form_tag ({:controller => "photos", :action => "create"}), :enctype =>"multipart/form-data" do %>
        
        <div class="input-group">
          <span class="input-group-addon">$</span>
            <%= text_field_tag :amount, @campaign.price, :class=> "form-control", :width => "50%" %>
        </div>

        <br/><br/>
        <%#= label :image, "Image : " %>
        <%= file_field_tag "image" , :class => "btn btn-default" %>
        <p class="help-block">Select a photo relevant to this campaign.</p>
        <%= hidden_field_tag :campaign_id, @campaign.id %>
        <br/>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= @campaign.user.stripe_publishable_key %>"
                data-description="Donation to <%= @campaign.name %>"
                data-amount=""
                data-image="<%= @campaign.image.url(:thumb) %>">
        </script>
      <% end %>
      </div>
  </div>
    <% if @campaign.photos.where(:hidden => false) !=  [] %>
      <h3>Photos</h3>
      <hr/>
      <% @campaign.photos.where(:hidden => false).reverse.each do |photo| %>
        <div class="col-md-4 pull-left text-center">
          <%= link_to image_tag(photo.image.url(), :class => "img-rounded pull-left thumbnail", :width => "200px"), photo %>
          <br/>
          <p class="pull-left">
            <h3><%= link_to photo.title|| "View", photo %></h3>
          </p>
        </div>

      <% end %>
    <% end %>

  </div>
  </div>
</article>

<style type="text/css">
  body {
    background-image: url(<%= @campaign.banner.url %>);
    background-size: cover;
  }

</style>