<h1>
  <%= @campaign.name.capitalize %>
    <span class="pull-right">
    <p class="label label-info">
    <strong>Target:</strong>
      $<%= @campaign.target %>
    </p>
    </span>
<br/>
 <small>
  by <%= @campaign.user.name %>
  </small>
</h1>

<section class="clearfix row">
<div class="pull-left col-md-4">
<%= image_tag(@campaign.image.url(:square), :class => "img-rounded pull-left") %>
</div>

<div class="pull-left col-md-8">
  <p class="well">
  <%= truncate(@campaign.description, length: 500) %>
  </p>

  <%= link_to "Edit", edit_campaign_path(@campaign), :class => "btn btn-default" %>

  <h2>Donate
      <span class="label label-info pull-right">
        <strong>Price:</strong>
        $<%= @campaign.price %>
      </span>
  </h2>

  <div class="well">
    <%= form_tag ({:controller => "photos", :action => "create"}), :enctype =>"multipart/form-data" do %>
      
      <%#= label :title, "Title : " %>
      <%#= text_field_tag :title, '', size: 55 %>
      <!-- <br/><br/> -->
      <%= label :image, "Image : " %>
      <%= file_field_tag "image" %>
      <%= hidden_field_tag :campaign_id, @campaign.id %>
      <%= hidden_field_tag :amount, @campaign.price %>
      <hr/>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= @campaign.user.stripe_publishable_key %>"
              data-description="Donation to <%= @campaign.name %>"
              data-amount="<%= @campaign.price * 100 %>"
              data-image="<%= @campaign.image.url(:thumb) %>">
      </script>
    <% end %>
  </div>



</div>
</section>

<% if @campaign.photos !=  [] %>
  <h2>Photos</h2>

  <% @campaign.photos.reverse.each do |photo| %>
    <div class="col-md-3 pull-left text-center">
      <%= link_to image_tag(photo.image.url(:square), :class => "img-rounded pull-left"), photo %>
      <br/>
      <p class="pull-left">
        <h3><%= link_to photo.title|| "View", photo %></h3>
      </p>
    </div>

  <% end %>

<% end %>

<style type="text/css">
   body {
    background-image: url(<%= asset_path '#{@campaign.banner.url(:banner)}' %>) ; 
    } 
</style>
