
<article style="">
  <h1>
    <%= @campaign.name.split.map(&:capitalize).join(' ') %>
      <span class="pull-right">
      <p class="label label-info">
        <strong>Target:
          $<%= @campaign.target %>
        </strong>
      </p>
      </span>
  <br/>
   <small>
    by <%= @campaign.user.name %>
    </small>
  </h1>
  <hr/>
  <div class="clearfix row" >
  <div class="pull-left col-md-4 clearfix">
  <p>
    <%= image_tag(@campaign.image.url(:square), :class => "img-rounded") %>
  </p>
  <br/>
  <div class="panel panel-default">
    <div class="panel-heading">
           <h3>
              Share
            </h3>
        </div>
        <div class="panel-body">
        <%= render_shareable :turbolinks => true, :buttons => ['twitter', 'facebook', 'tumblr'], :facebook=> {:send=> 'true', :url=> '#{campaign_path(@campaign)}'}, :twitter => {:via => 'phunderapp', :text  => 'Support the "#{@campaign.name}" campaign - ' } %>
        </div>
    </div>
    <% if current_user && current_user.admin? || current_user = @campaign.user %>
      <%= link_to "Edit", edit_campaign_path(@campaign), :class => "btn btn-default btn-xs" %>    
      <%= link_to "Delete", campaign_path(@campaign), :method => "DELETE", confirm: "Are you sure?", :class => "btn btn-danger btn-xs" %>
    <% end %>
  </div>

  <div class="pull-left col-md-8">
    <p class="well clearfix">
    <%= auto_link(truncate(@campaign.description, length: 500)) %>
    <br/>
    </p>

    <div class="panel panel-default">
      <div class="panel-heading">
         <h3>
            Donate & Upload
            <span class="label label-success pull-right">
              <strong>Suggested Amount:</strong>
              $<%= @campaign.price %>
            </span>
          </h3>
      </div>
      <div class="panel-body">
      <%= form_tag ({:controller => "photos", :action => "create"}), :enctype =>"multipart/form-data" do %>
        <%= label :image, "Ammount : $" %>
        <%= text_field_tag :amount, @campaign.price %>
        <br/><br/>
        <%= label :image, "Image : " %>
        <%= file_field_tag "image" %>
        <p class="help-block">Select a photo relevant to this campaign.</p>
        <%= hidden_field_tag :campaign_id, @campaign.id %>
        <br/>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= @campaign.user.stripe_publishable_key %>"
                data-description="Donation to <%= @campaign.name %>"
                data-amount=""
                data-image="<%= @campaign.image.url(:thumb) %>">
        </script>
      <% end %>
      </div>
  </div>
    <% if @campaign.photos !=  [] %>
      <h3>Photos</h3>
      <hr/>
      <% @campaign.photos.reverse.each do |photo| %>
        <div class="col-md-3 pull-left text-center">
          <%= link_to image_tag(photo.image.url(:square), :class => "img-rounded pull-left thumbnail"), photo %>
          <br/>
          <p class="pull-left">
            <h3><%= link_to photo.title|| "View", photo %></h3>
          </p>
        </div>

      <% end %>
    <% end %>

  </div>
  </div>
</article>

<style type="text/css">
  body {
    background-image: url(<%= @campaign.banner.url %>);
    background-size: cover;
  }

</style>